:root{
    --color-primary : #851037;
    --color-secondary : #9bd610;
}

.bg-primary{
    background-color: var(--color-primary);
}

.bg-secondary{
    background-color: var(--color-secondary);
}

.text-primary{
    color: var(--color-primary)
}

.text-secondary{
    color: var(--color-secondary)
}

.border-primary{
    border-color: var(--color-primary);
}

.border-secondary{
    border-color: var(--color-secondary)
}