@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    background-color: rgb(245, 237, 228);
}

*{
    font-family: 'Montserrat', san-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

